@keyframes move1 {
  0% {
    background-position: 0 0
  }
  25.00% {
    background-position: 0 -300px
  }
  50.00% {
    background-position: 0 -600px
  }
  75.00% {
    background-position: 0 -900px
  }
  100% {
    background-position: 0 -1200px
  }
}

@keyframes move2 {
  0% {
    background-position: 0 -1200px
  }
  16.67% {
    background-position: 0 -1500px
  }
  33.33% {
    background-position: 0 -1800px
  }
  50.00% {
    background-position: 0 -2100px
  }
  66.67% {
    background-position: 0 -2400px
  }
  83.33% {
    background-position: 0 -2700px
  }
  100% {
    background-position: 0 -1200px
  }
}