@keyframes stand {
  0% {
    background-position: 0 0
  }
  7.14% {
    background-position: 0 -300px
  }
  14.29% {
    background-position: 0 -600px
  }
  21.43% {
    background-position: 0 -900px
  }
  28.57% {
    background-position: 0 -1200px
  }
  35.71% {
    background-position: 0 -1500px
  }
  42.86% {
    background-position: 0 -1800px
  }
  50.00% {
    background-position: 0 -2100px
  }
  57.14% {
    background-position: 0 -2400px
  }
  64.29% {
    background-position: 0 -2700px
  }
  71.43% {
    background-position: 0 -3000px
  }
  78.57% {
    background-position: 0 -3300px
  }
  85.71% {
    background-position: 0 -3600px
  }
  92.86% {
    background-position: 0 -3900px
  }
  100% {
    background-position: 0 0
  }
}